



/*//////////////////////////////////////////////////////////////////
 [ FONT ]*/

@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Raleway-Regular;
    src: url('../fonts/raleway/Raleway-Regular.ttf');
}

@font-face {
    font-family: Raleway-Black;
    src: url('../fonts/raleway/Raleway-Black.ttf');
}

@font-face {
    font-family: Raleway-SemiBold;
    src: url('../fonts/raleway/Raleway-SemiBold.ttf');
}

@font-face {
    font-family: Raleway-Bold;
    src: url('../fonts/raleway/Raleway-Bold.ttf');
}


/*//////////////////////////////////////////////////////////////////
 [ RESTYLE TAG ]*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
    color: #f68b1e;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
    margin: 0px;
}

p {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

ul, li {
    margin: 0px;
    list-style-type: none;
}


/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    border: none;
}

textarea:focus, input:focus {
    border-color: transparent !important;
}



/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}


/*//////////////////////////////////////////////////////////////////
 [ Utility ]*/
.txt1 {
    font-family: Raleway-Regular;
    font-size: 16px;
    color: #999999;
    line-height: 1.4;
}

.bo1 {
    border-bottom: 1px solid #999999;
}

.hov1:hover {
    border-color: #f68b1e
}


/*//////////////////////////////////////////////////////////////////
 [ login ]*/

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #0250c5;
    background: -webkit-linear-gradient(bottom, #0250c5, #d43f8d);
    background: -o-linear-gradient(bottom, #0250c5, #d43f8d);
    background: -moz-linear-gradient(bottom, #0250c5, #d43f8d);
    background: linear-gradient(bottom, #0250c5, #d43f8d);
    position: relative;
    z-index: 1;
}

.container-login100::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('../images/img-01.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.icon{
    font-size:24px;
    color: rgba(0,0,0,0.54);
    fill: rgba(0,0,0,0.54);
    opacity:0.65;
}
.icon-toggle
{
	color:#f68b1e !important;
}
select{
    border:none;
}
.para-email{
    white-space: nowrap;
    color: #f68b1e;
    font-weight: 500;
    width:100%;
    text-decoration: none;
    outline: none;
}
.invalid
{
    font-size: 14px;
    height:20px;
    color:#c80000;
    width: 100%;
    white-space: normal;
    direction: ltr;
    line-height: 1.4286;
    font-family: roboto,arial,sans-serif;
}
.div-error
{
    width:100%;
}


.para-pass
{
    font-size: 12px;
    width: 100%;
    white-space: normal;
    direction: ltr;
    line-height: 1.4286;
    color: #202124;
    font-family: roboto,arial,sans-serif;
}
.date-30
{
    width:28% !important;
}
.date-60
{
    flex:1;
}
.flex-password
{
    display:flex;
    width:100%;
    
}

.wrap-login100 {
    width: 450px;
    background: #fff;
    border-radius: 3px;
    overflow: hidden;
}



/*------------------------------------------------------------------
 [  ]*/
.login100-form {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.login100-form-title {
    font-family: Raleway-Black;
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    
    width: 100%;
    display: block;
}


/*---------------------------------------------*/
.wrap-input100 {
    position: relative;
    width: 100%;
    z-index: 1;
}
.wrap-input-inline{
    position: relative;
    max-width:100%;
    min-width:45%;
    display:inline-block;
    z-index: 1;
}
.input100 {
    font-family: Raleway-SemiBold;
    font-size: 12px;
    line-height: 1.2;
    color: #686868;
    -webkit-appearance: none;
    display: block;
    width: 100%;
    background: transparent;
    height: 32px;
    border-radius: 3px;
    padding: 0 6px 0 20px;
  
    
}
 .focus-input100 label {
     position:absolute;
     background: #fff;
     top:7px;
     font-size: 12px;
     color: #80868b;
     left: 6px;
     font-weight: 400;
     transform-origin: bottom left;
     font: 400 16px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
     pointer-events: none;
     white-space: normal;
     padding: 0 6px;
     transition: transform 150ms cubic-bezier(0.4,0,0.2,1),opacity 150ms cubic-bezier(0.4,0,0.2,1);
     width: auto;
     z-index: 1;
    transition: all 150ms;
    font-family: helvetica;
}
.input100:not(:placeholder-shown) + .focus-input100 label
{
    font-size: 16px;
     transform: scale(.75) translateY(-155%);
}
.input100:focus + .focus-input100 label {
    
    
    color:#f68b1e;
    font-size: 16px;
    font-family: helvetica;
    transform: scale(.75) translateY(-155%);
}
.input100:focus + .focus-input100
{
    border: 2px solid #f68b1e;
}
::-webkit-input-placeholder {
    opacity: 0;
    transition: all 150ms;
}
.input100:focus::-webkit-input-placeholder {
    opacity: 1;
}
.focus-input100 {
    display: block;
    position: absolute;
    border-radius: 4px;
    bottom: 0;
    left: 0;
    border: 1px solid #dadce0;
    z-index: -1;
    width: 100%;
    height: 100%;
    
}
/*input:placeholder-shown + label {
    position: absolute;
    left: 2px;
    top: 1px;
    color: gray;
    font-size: 12px;
    opacity: 0;
    transition: top 0.4s, opacity 0.2s;
    font-family: helvetica;
}
::-webkit-input-placeholder {
    opacity: 1;
    transition: inherit;
}
input:focus::-webkit-input-placeholder {
    opacity: 0;
}
/*------------------------------------------------------------------
 [ Focus ]*/
/*.focus-input100 {
    display: block;
    position: absolute;
    border-radius: 3px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: rgba(246, 139, 30, 0.6);
}

.input100:focus + .focus-input100 {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 60px 20px;
        opacity: 0;
    }
}

@keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 60px 20px;
        opacity: 0;
    }
}

.symbol-input100 {
    font-size: 24px;
    color: #999999;
    
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 23px;
    padding-bottom: 5px;
    pointer-events: none;
    
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.input100:focus + .focus-input100 + .symbol-input100 {
    color:#f68b1e ;
    padding-left: 18px;
}

/*==================================================================
 [ Restyle Checkbox ]*/







/*------------------------------------------------------------------
 [ Button ]*/
.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.login100-form-btn {
    font-family: Raleway-Bold;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    
    width: 100%;
    height: 62px;
    border-radius: 3px;
    background: #f68b1e;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login100-form-btn:hover {
    background: #333333;
}

/*------------------------------------------------------------------
 [ Button sign in with ]*/
.btn-face,
.btn-google {
    font-family: Raleway-Bold;
    font-size: 16px;
    line-height: 1.2;
    
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc((100% - 10px) / 2);
    height: 40px;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}


.btn-face {
    color: #3b5998;
}

.btn-face i {
    font-size: 20px;
    margin-right: 10px;
    padding-bottom: 1px;
}

.btn-google {
    color: #555555;
}

.btn-google img {
    width: 19px;
    margin-right: 10px;
    padding-bottom: 1px;
}


.btn-face:hover,
.btn-google:hover {
    border-color: #f68b1e;
}



/*------------------------------------------------------------------
 [ Alert validate ]*/

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: white;
    border: 1px solid #c80000;
    border-radius: 3px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
    pointer-events: none;
    
    font-family: Raleway-SemiBold;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    
    visibility: hidden;
    opacity: 0;
    
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f12a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 13px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}

/*//////////////////////////////////////////////////////////////////
 [ responsive ]*/

@media (max-width: 480px) {
    .wrap-login100 {
        padding-left: 15px;
        padding-right: 15px;
    }
}
